.VCTable, .VCTableDesign
{
	border-width: 1px;
	border-color: #cccccc;
	padding: auto;
	margin: auto;
	text-align: left;
	border-collapse: collapse;
    border-spacing: 0;
	margin-bottom: 10px;
	width: 100%;
}
.VCTable tr, 
.VCTableDesign tr,
.VCTable tbody tr, 
.VCTableDesign tbody tr {
	background: #DFE3E4;
	color: #262930;
}

.VCTable .VCTableDesign tr,
.VCTable .VCTableDesign tbody tr
{
	background: transparent;
}

.VCTable > tr td, 
.VCTableDesign > tr td
{
	background: #DFE3E4;
	padding: 2px 5px;
	margin-left: 2px;
}

/* alternating background-colors: odd/even */
.VCTable tr:nth-child(2n) td,
.VCTable tbody tr:nth-child(2n) td 
{
	background: #E6EAEA;
}

/* alternating background-colors: odd/even */
.VCTableDesign tr:nth-child(2n) td,
.VCTableDesign tbody tr:nth-child(2n) td
{
	background: #DFE3E4;
}


/* alternating background-colors: odd/even */
.VCTable .VCTableDesign tr:nth-child(2n) td,
.VCTable .VCTableDesign tbody tr:nth-child(2n) td 
{
	background: transparent;
}

.VCTable .inactive_subunit:nth-child(2n) td,
.VCTable .inactive_subunit td
{
	background: #AAAAAA;
}

.VCTable .special_folder:nth-child(2n) td,
.VCTable .special_folder td
{
	background-color: #E0C2C7;
}

.VCTable .changed_row:nth-child(2n) td,
.VCTable .changed_row td
{
	background-color: #FF803E;
}

.VCTable .preselected
{
	border: 1px solid #87C5DB;
}

.VCTable .preselected:nth-child(2n) td,
.VCTable .preselected td
{
	background-color: #87C5DB;
}

.VCTable thead tr th,
.VCTable tr th,
.VCTableDesign thead tr th,
.VCTableDesign tr th
{
	border-width: 1px;
	padding: 3px 5px;
}

.VCTable thead tr th,
.VCTable tr th,
.VCTable thead th *,
.VCTable th *,
.VCTableDesign thead tr th,
.VCTableDesign tr th,
.VCTableDesign thead th *,
.VCTableDesign th *
{
	text-align: left;
	font-weight: bold;
	font-size: 1em;
	color: #262930;
}

th.icon_cell,
td.icon_cell
{
	text-align: center !important;
}

th.number_cell,
td.number_cell
{
	text-align: center !important;
}

th.text_cell,
td.text_cell
{
	text-align: left !important;
}

.VCTable thead th a:hover,
.VCTable th  a:hover,
.VCTableDesign thead th a:hover,
.VCTableDesign th  a:hover
{
	text-align: left;
	font-weight: bold;
	font-size: 1em;
	color: #1CA8DD;
}

.VCTable th.VCTableCell
{
	font-weight: normal;
}

.VCTable tr.userrow td,
.VCTable tr.userrow th,
.VCTable tr.periodrow td,
.VCTable tr.periodrow th {
	background: rgba(181,184,190,0.3);
	/*text-align:left;*/
	padding: 3px 5px;
}

.VCTable tr.userrow img,
.VCTable tr.periodrow img {
	vertical-align:top;
}

.VCTable tr td,
.VCTableDesign tr td{
	background: #DFE3E4;
	padding: 3px 5px;
}

.VCTable tr,
.VCTableDesign tr{
	border: 1px solid #cccccc;
}

.VCTable tr th,
.VCTableDesign tr th {
	background: #CBD0D2;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 1px solid #cccccc;
	text-align: left;
}

.VCTable.noborders tr td,
.VCTable .noborders tr td,
.VCTableDesign.noborders tr td,
.VCTableDesign .noborders tr td,
.VCTable.noborders tr,
.VCTable .noborders tr,
.VCTableDesign.noborders tr,
.VCTableDesign .noborders tr {
	border: none;
	border-spacing: 0;
}
.VCTable.noborders tr:last-of-type td,
.VCTableDesign.noborders tr:last-of-type td {
	padding-bottom: 5px;
}
.VCTable th.center,
.VCTable td.center,
.VCTableDesign th.center,
.VCTableDesign td.center {
	text-align: center;
	margin: auto;
}

.VCTable th.highlight,
.VCTableDesign th.highlight
{
	background-color: #CBD0D2;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	font-size: 1.2em; 
	text-indent: 0.2em;
}

.VCTable .resetWidth,
.VCTable.resetWidth,
.VCTableDesign .resetWidth,
.VCTableDesign.resetWidth,
.resetWidth
{
	width: auto;
	float: left;	
}

.fullWidth
{
	width:100%;
}

.NotActive td
{
	color: #707070;
}


a.VCLink
{

}

.VCIconLink:link, .VCIconLink:visited
{

}

a.VCIconLink:hover
{
	text-decoration: none;
}

.VCIconLink img
{
	border: 0;
	margin-right: 3px;
}

.VCMenu
{
	list-style: none;
	clear: both;
	float: left;
	padding: 0;
}

.VCMenu .vertical_spacer
{
	height: 98px;
}

.VCHMenu
{
	padding: 0;
}

.VCHMenu li
{
	margin: 0;
	padding: 0;
}

.VCText
{

}

.VCGroup
{

}

.VCComboBox
{

}

.VCButton
{

}

.VCButtonbar {
	clear: both;
	min-height: 30px;
	border-top: 1px solid #d6dade;
	padding-top: 16px;
	margin: 16px auto;
	text-align: left;
}
.VCButtonbar .button_create,
.VCButtonbar .button_delete,
.VCButtonbar .button_back,
.VCButtonbar .button_normal {
	min-width: 100px;
	float: left;
	margin-right: 10px;
}

.VCButtonbar .button_right
{
	float:right;
	margin-left: 10px;
	margin-right: 0px;
}]

/* hacks the min-width for IE - the *+ Selector is interpreted only by IE7 */
*+html .VCButtonbar .button_create,
*+html .VCButtonbar .button_delete,
*+html .VCButtonbar .button_back,
*+html .VCButtonbar .button_normal {
	width: expression( this.scrollWidth < 100 ? "100px" : "auto" );
	min-width: 0px;
}

.VCTableHeader
{
	border-width: 1px;
}

.VCList
{
	min-width: 200px;
}
.VCComboBox
{
	min-width: 200px;
}

.VCConfigurator {
	width: 900px;
	min-height: 500px; 
	height: auto;
	margin: 0 auto;
	text-align:left;
}
.VCConfigurator .dijitTabContainerTopStrip {
    background: none;
    border: none;
    padding-top: 3px;
}
.VCConfigurator legend {
	font-size: 1.0em;
}
.VCConfigurator .setting{
	padding: 5px 10px;
	clear: both;
	margin-top: 5px;
}

.VCConfigurator .setting label{
	display: block;
	width: 100px;
	float: left;
	clear: left;
	margin-top: 3px;
}
.VCConfigurator .setting .text {
	border: 1px solid gray;
	margin-top: 3px;
	width: 200px;
}


.VCConfigurator .setting.boolean label{
	display: block;
	width: 60px;
	clear: none;
	float: left;
}
.VCConfigurator .setting.boolean div {
	clear: left;
}
.VCConfigurator .setting.boolean input{
	display: block;
	float: left;
	border: 0;
}
.VCConfigurator .description {
	width: 380px;
	float: right;
	margin-top: 3px;
	clear: both;
}
.VCConfigurator .setting.color input {
	display: block;
	float: left;
}
.VCConfigurator .setting.color .colorbox {
	border: 1px solid gray;
	width: 20px;
	height: 20px;
	float: left;
	margin: 0 0 0 5px;
}
.VCConfigurator .setting.color img {
	display: block;
	padding: 4px 0 0 4px;
	border: 0;
}

/* different button styles */
.button_create,
.button_delete,
.button_back,
.button_normal,
#logoutbutton a {
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	padding: 5px;
	font-weight: bold;
	font-size: 0.9em;
	font-family: Helvetica, Arial;
    cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	text-align: center;
}
.button_create {
	border-color: #53cf4e;
	background-color: #4fc64b;
	color: #262930 !important;
}
.button_create:hover, .button_create:focus {
	background-color: #53cf4e;
	color: #262930 !important;
}
.button_back,
#logoutbutton a {
	border-color: #424249;
	background-color: #343436;
	color: #ffffff !important;
}
.button_back:hover, .button_back:focus,
#logoutbutton a:hover, #logoutbutton a:focus {
	background: #454547;
	color: #ffffff !important;
}
.button_delete {
	border-color: #711b1f;
	background-color: #b0161a;
	color: #ffffff !important;
}
.button_delete:hover, .button_delete:focus {
	background: #c1272b;
	color: #ffffff !important;
}
.button_normal {
	border-color: #68a4c4;
	background-color: #1CA8DD;
	color: #262930 !important;
}
.button_normal:hover, .button_normal:focus {
	background: #2db9ee;
	color: #262930 !important;
}

.button_create.space,
.button_delete.space,
.button_back.space,
.button_normal.space {
	margin-left: 3px;
	margin-right: 3px;
}

.button_create:disabled,
.button_delete:disabled,
.button_back:disabled,
.button_normal:disabled,
.button_create:disabled:focus,
.button_delete:disabled:focus,
.button_back:disabled:focus,
.button_normal:disabled:focus,
.button_create:disabled:hover,
.button_delete:disabled:hover,
.button_back:disabled:hover,
.button_normal:disabled:hover {
    background: #AAAAAA;
    border: 1px solid #888;
    color: #ddd !important;
    cursor:  default;
}

.rowNextToButton
{
	line-height: 32px;
}


html {
	height: 100%;
}

table {
	border-collapse: collapse;
}

body
{
	background-color: #EDF0F0;
	margin: 0px;
	padding: 0px;
	height: 100%;
	color: #262930;
	font-family: Helvetica, Arial;
	font-size: 12px;
}

body#editor
{
	color: #000000;
}

fieldset
{
	border: 1px solid #cccccc;
}

a, a:link, a:active, a:visited 
{
	color: #000088;
}

a:hover, a:focus
{
	color: #1CA8DD;
}

h2.contexttitle {
	text-align: left;
	font-size: 1.5em;
	padding: 3px 0 8px 0;
	margin: 16px auto;
	color: #262930;
	font-weight: 400;
	border-bottom: 1px solid #d6dade;
	width: 100%;
}


h2.contexttitle img {
	vertical-align: bottom;
	padding-right: 3px;
}

h3 .subtitle {
	font-size: 0.7em;
}
h3.boxheader {
	
	background: #CBD0D2;
	color: #262930;
	text-align: left;
	font-size: 1.2em;
	padding: 3px 0;
	text-indent: 8px;
	margin: 20px auto;
	margin-bottom: 0px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 100%;
	height: 3em;
	line-height: 3em;
}

.text_hint,
.radio_hint
{
	color: #999999;
}

.text_positive
{
	color: #009900;
}

.text_warning
{
	color: #914d1b;
}

.text_negative,
.red
{
	color: #990000;
}


.data_ready
{
	color: #888800;
}

.data_available
{
	color: #008800;
}

.data_delete
{
	color: #880000;
}

.data_verify
{
	color: #CF6B00;
}

.data_minformcount
{
	color: #880000;
}

.data_points
{
	color: #000000;
}

.data_release
{
	color: #000088;
}

/*************
table layout
*************/

#maintable
{
	border: none;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
}

#tdhead
{
	border: none;
	padding: 0px;
	margin: 0px;
	height: 67px;
}

#tdmainright
{
	border: none;
	padding: 7px;
	margin: 0px;
	width: 100%;
	height: 100%;
	vertical-align: top;
}

#tdmainleft
{
	border: 0;
	padding: 0px;
	margin: 0px;
	width: 172px;
	vertical-align: top;
	background-color: #DADEDF;
	box-shadow: 0 2px 0 rgba(255, 255, 255, 0.2) inset;
}

#tdfoot
{
	background: #FFFFFF;
	border: none;
	padding: 0px;
	margin: 0px;
}

/*************
main content
*************/

.maincontent
{
}

.maincontent#modshowcontent
{
	height: 100%;
}

/*************
copyright notice
*************/

#copyright
{
	text-align: right;
	padding: 7px 7px 7px 0px;
	font: bold 10px Arial, Helvetica, sans-serif;
	color: #99A9BC;
}

#copyright a:active, #copyright a:visited, #copyright a:link
{
	color: #99A9BC;
}

#copyright a:hover
{
	background: transparent;
	color: #99A9BC;
	text-decoration: underline;
}

/*************
others
*************/

form.pdf_dropdown {
	display: inline;
	margin: 0;
	padding: 0;
}

.VCMenu .foldbutton {
	position: relative;
	left: 108px;
	margin-top: -3px;
	z-index: 2;
}
* html .VCMenu .foldbutton {
	margin-bottom: -8px;
}
.VCMenu li .foldbutton a img {
	cursor: pointer;
	width: auto;
}
.VCMenu #folderlist,
.VCMenu #subunitlist {
	position: relative;
	top: -17px;
}

/*Opera Fix*/
*:-o-prefocus,
.VCMenu #folderlist,
.VCMenu #subunitlist {
	position: relative;
	top: -7px;
}

form {
	padding: 0 !important;
	margin: 0;
}

.centered {
	text-align: left;
	max-width: 1200px;
	margin: auto;
	width: 95%;
}

.centerElement 
{
	margin:auto;
}

.centerText
{
	text-align: left;
}

.rightText
{
	text-align: right;
}

.space_below {
	margin-bottom: 16px;
}

.primary_content_background,
.primary_content {
	background: #DFE3E4;
}

.primary_content,
.secondary_content {
	width: 100%;
}

.primary_content tr td,
.secondary_content tr td
{
	padding: 3px 5px;
}

.secondary_content_background,
.secondary_content
{
	background: #E6EAEA;
}

.secondary_content 
{
	border-bottom: 1px solid #aaa;
	padding-top: 5px;
	padding-bottom: 5px;
}

.contentpadding {
	padding-top: 8px;
	padding-bottom: 8px;
}

.contentpaddingfull {
	padding: 10px;
	width: auto;
}
.button_help_link {
	float: right;
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	padding: 5px;
	font-weight: bold;
	font-size: 12px;
	line-height: 1em;
	min-width: 60px;
	text-align: center !important;
	text-indent: 0px;
    cursor: pointer;
	border: 1px solid;
	border-radius: 2px;
	
	border-color: #424249;
	background-color: #343436;
	color: #ffffff !important;
	
/* 	border: 2px solid #262930;  */
/* 	border-radius: 40px; */
/* 	background-color: transparent; */
/* 	padding: 5px; */
/* 	font-weight: bold; */
/* 	font-size: 14px !important; */
/* 	line-height: normal !important; */
/* 	min-width: 75px; */
/* 	cursor: pointer; */
/* 	float: right; */
/* 	text-align: center !important; */
/* 	text-transform: uppercase;  */
}

.button_help_link, 
.button_help_link:link,
.button_help_link:visited,
.button_help_link:active
{
	color:  #ffffff !important; 
}

.button_help_link:hover, 
.button_help_link:focus 
{
	background: #454547;
	color: #ffffff;
}

.standard_button_width
{
	width: 100px;
}

.right
{
	float:right;
}

#editorcontent .button_help_link {
    padding: 2px;
    margin-right: 2px;
    width: auto;
    min-width:auto;
    text-indent:0;
}

.boxheader .button_help_link
{
	margin-top: 1em;
}

.UserFolderDiv
{
	margin: auto;
	text-align: left;
	width: 100%;
	border-style:solid;
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px;
	border-color: #BBBBBB;
	background-color: #e1e3e3;
}
.FolderDiv
{
	text-align: center;
	border-style:solid;
	border-collapse: separate;
	border-radius: 5px 5px 5px 5px;
	border-spacing: 0;
	border-width: 0px;
}

.FolderDiv * .VCTable
{
	margin-bottom: 10px !important;
	width: 95%;
}

.FolderDivInner
{
	border-style:dotted;
	border-collapse: separate;
	border-radius: 5px 5px 5px 5px;
	border-spacing: 0;
	border-width: 1px;
}
.SortText {
	cursor: pointer;
}
#folderDialog {
	border-bottom: 1px solid #333333;
	border-right: 1px solid #333333;
	border-top: 1px solid #BBBBBB;
	border-left: 1px solid #BBBBBB;
}

.VCTableFormFolder
{
	width:95%;
	margin-bottom: 0px;
}

.VCTableFolder tr th:last-of-type {
	border-right: medium none;
	border-top-right-radius: 1px;
}
.VCTableFolder tr th:first-of-type {
	border-top-left-radius: 1px;
}
.VCTableFormFolder tr th {
	background: linear-gradient(#CBD0D2, [#replace:tabcolor3darker]);
	border-width: 0px;
	padding: 5px;
}

.tooltipText
{
	cursor: help !important;
}

/* ---------------------------------------------- EDITOR ---------------------------------------------- */
.editor_menu_header {
        background: #EDEDED;
        height: 30px;
        border-bottom: 1px solid #DCDCDC;
}

/* ------------------------------------------- UGLY SCREENS ------------------------------------------- */

.subunit_resolution,
.modules_resolution,
.period_resolution,
.studies_resolution,
.types_resolution,
.forms_resolution,
.program_of_studies_resolution,
.lecturer_resolution,
.VCComboBox.subunit_resolution,
.VCComboBox.lecturer_resolution,
.VCComboBox.period_resolution,
.VCComboBox.forms_resolution
{
	width: 100%;
	min-height: 133px;
}

.subunit_resolution,
.modules_resolution,
.program_of_studies_resolution,
.lecturer_resolution
{
	min-width: 220px;
}



.period_resolution,
.types_resolution
{
	min-width: 140px;
}

.studies_resolution,
.forms_resolution
{
	min-width: 110px;
}

.courselist_resolution
{
	min-width: 400px;
	width:100%;
	max-width:800px;
}


#surveyListFilterform .VCComboBox.subunit_resolution
{
	min-width: 200px;
}
#surveyListFilterform .VCComboBox.lecturer_resolution
{
	min-width: 200px;
}
#surveyListFilterform .VCComboBox.period_resolution
{
	min-width: 120px;
}
#surveyListFilterform .VCComboBox.forms_resolution
{
	min-width: 100px;
}
#surveyListFilterform .extrafilter_resolution
{
	width: 100%;
	min-width: 100px;
}


.course_list_span
{
	min-width: 400px;
	width: 470px;
	width: calc(100% - 292px);
	max-width:640px;
	float: left;
	display: block;
	padding-left: 4px;
}

.next_to_course_list
{
	min-width: 288px;
	width:100%;
	max-width: 288px;
	max-width: calc(100% - 650px);
	float: left;
	display: block;
	margin:auto;
}

.nolinebreak
{
	white-space: nowrap;
}/*************
administrator/user head menu
*************/
#tdhead {
	height: 72px;
	
	background: #DADEDF;
	
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

#adminheadmenu, #userheadmenu {
	width: 100%;
	min-width: 900px;

	margin-top: 3px;
	position: absolute;
	top: 0px;
	left: 0px;
}
#adminheadmenu td, #userheadmenu td{
	padding: 0;
	margin: 0;
}
#adminheadmenu hr.clear, #userheadmenu hr.clear {
	display: none;
}
#adminheadcenter {
	width: 60%;
	display: block;
	float: left;
}
#adminheadend {
	width: 19.9%;
	display: block;
	float: left;
}
#adminheadstart {
	width: 20%;
	min-width: 165px;
	display: block;
	float: left;
}

#adminheadnav
{
	width: auto;
	position: absolute;
	left: 170px;
	top: 0px;
	_margin-top: 0px;
}

#adminrightalignedwrapper, #userrightalignedwrapper
{
	width: 335px;
	position: absolute;
	top: 0px;
	right: 1px;
	color: #262930;
}

#adminrightaligned form
{
	border: none;
	display: inline;
}

#adminrightaligned #search
{
	position: absolute;
	top: 22px;
	left: 105px;
	font-weight: bold;
	width: 75px;
	height: 24px;
	cursor: pointer;
	
	border: 1px solid #424249;
	border-top-right-radius: 2px;
	border-top-left-radius: 0;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 0;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	background-color: #343436;
	color: #ffffff;
}

#adminrightaligned .search_field
{
	position: relative;
	border: none;
	width: 96px;
	height: 24px;
	font-size: 12px;
	border-top-right-radius: 0;
	border-top-left-radius: 2px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 2px;
}

#adminrightaligned .search_field:focus
{
	border: 1px solid #000000;
}

#adminrightaligned .search_box_layer
{
	position: absolute;
	left: 10px;
	top: 20px;
	border: none;
	height: 25px;
	width: 95px;
}

#adminrightaligned #search_box_borderright
{
	display: none;
}

#adminrightaligned #search_box_borderleft
{
	display: none;
}

@media (max-width: 1130px)
{
	#adminrightalignedwrapper, #userrightalignedwrapper
	{
		width: 180px;
	}
	
	#adminrightaligned form
	{
		display: none;
	}
}

#adminheadnav ul, #userheadmenu ul
{
	margin-bottom: 1px;
	list-style-type: none;
	font: normal bold 12px Arial, Helvetica, sans-serif;
	padding: 0px 0px 0px 24px;
	overflow: visible;
}

#adminheadnav li
{
	padding: 9px 14px 0px 14px;
	border: none;
	float: left;
	text-align: center;
	color: #fff;
	height: 47px;
	_margin-top: 12px; /* ie6 fix */
}

#adminheadnav li a, #adminheadnav li a:hover
{
	height: 21px;
	display: block;
	float: left;
}

#adminheadnav li a:active, #adminheadnav li a:visited, #adminheadnav li a:link
{
	color: #262930;
	text-transform: lowercase;
	font-variant: small-caps; 
	font-weight: normal;
	background-color: transparent;
	text-align: center;
}

#adminheadnav li a.submenuitemactive:active, #adminheadnav li a.submenuitemactive:visited, #adminheadnav li a.submenuitemactive:link, #adminheadnav li a:hover
{
	color: #386891;
	border-bottom: 2px solid #386891;
	border-radius: 0px;
}

#adminheadnav li a.submenuitem, #adminheadnav li a.submenuitemactive {
	font-size: 15px;
}

#adminheadnav li a.submenuitemactive
{
	position: relative;
	top: 0px;
	text-align: center;
	background-width: 100%;
	color: #386891;
	font-weight: normal;
	text-align: center;
	border: none;
	height: 21px;
	float: left;
	margin: 0;
	padding: 3px 0;
}

#adminheadmenu .logo, #userheadmenu .logo
{
	position: absolute;
	top: -3px;
	left: 0px;
	width: 150px;
	height: 42px;
	border: none;
	float: left;	
	
	background-color: #DADEDF;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
	padding: 15px 11px;
	margin:0px;
}

#adminheadnavspacer
{
	position: absolute;
	top: 0px;
	left: 446px;
	height: 67px;
	float: left;
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#adminrightaligned #adminheadperiod, #userrightaligned #userheadperiod
{
	position: absolute;
	top: 25px;
	right: 65px;
	font: normal Arial, Helvetica, sans-serif;
	font-size: 10px;
	border: none;
	color: #262930;
}

#adminrightaligned .subunitlogo, #userrightaligned .subunitlogo
{
	position: absolute;
	top: 13px;
	right: 27px;
	border: none;
	height: 34px;
	width: 34px;
}

#userheadnav
{
	position: absolute;
	left: 154px;
	height: 80px;
}

#userheadnavleftborder
{
	background: url(./../../../images/ui/adminheadmenustart.png) no-repeat left top;
	height: 80px;
}
#userrightalignedwrapper
{
	width: 500px;
}
#userrightaligned
{
	vertical-align: middle;
	float: right;
}
#userrightaligned #userheadperiod
{
	position: absolute;
	top: 40px;
	right: 70px;
	width: 500px;
	text-align: right;
}

#subunitname
{
	position: absolute;
	top: 28px;
	right: 70px;
	width: 400px;
	font-weight: bold;
	color: #262930;
	border: none;
	background: transparent;
	display: block;
	text-align:right;
}

#subunitname a:active, #subunitname a:visited, #subunitname a:link
{
	color: #262930;
	background-color: transparent;
}

#subunitname a:hover
{
	color: #386891;
}

#subunitnamewithperiod
{
	position: relative;
	top: 19px;
	right: 70px;
	font-weight: bold;
	color: #262930;
	border: none;
	background: transparent;
	display: block;
	text-align: right;
	float: right;
}

/*************
administrator main menu
*************/

#adminmainmenu, #usermainmenu
{
	position: relative;
	top: 0px;
	left: 0px;
	border: none;
	padding: 0px 0px 7px;
	margin: 0 0 30px 4px;
	width: 168px;
}

/* userdetails and picture in left menu */
#userinfodisplay
{
	position: relative;
	top: 0px;
	left: 0px;
	text-align: center;
	overflow: visible;
	color: #262930;
	margin-bottom: 5px;
	padding-top: 20px;
}

#userinfodisplay img
{
	display: block;	
	margin: auto;
	width: 146px;
	border-radius: 10px;
}

#userinfo
{
	text-align: center;
	padding: 0px;
	margin: 0px;
}

#userinfoedgetopleft, #userinfoedgetopright, #userinfoedgebottomright, #userinfoedgebottomleft
{
	display: none
}

#userinfoname
{
	padding: 6px 6px 0 6px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #262930;
}

#userinforole
{
	margin-top: 1px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 9px;
	height: 1.6em;
}

#userinforole select
{
	background-color: #fcffff;
	border-color: #B0B3B1;
	color: #484b52;
	width:90%;
}

#submenu_wrapper .bgtop
{
	position: relative;
	top: 0px;
	left: 0px;
	border: none;
	height: 20px;
	display: block;
	clear: both;
}

.bgbottom
{
	clear: both;
	margin: 0;
	padding: 0;
	position: absolute;
	left: -1px;
}

/* general submenu properties in left menu */
.submenu
{
	position: relative;
	padding: 0;
	border: none;
	display: block;
	clear: both;
}

.submenu.empty_title
{
	padding-bottom: 0px;
}

.submenuhead
{
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	border: none;
	margin: 0px;
}

.empty_title .submenuhead
{
	position: relative;
	top: 0px;
	left: 0px;
	border: none;
	margin: 0px 0px -8px 0px;
}

.submenutitle
{
	padding: 0;
	margin: 0 -5px 0 -5px;
	line-height: 30px;
	height: 30px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
	font-variant: small-caps; 
	color: #262930;
	text-align: center;
	border: 1px solid #B0B3B1;
	background-color: #B0B3B1;
	background: -webkit-linear-gradient(#d2d5d3, #B0B3B1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#d2d5d3, #B0B3B1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#d2d5d3, [#replace:bgcolor31]); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#d2d5d3, #B0B3B1); /* Standard syntax */
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
}

.empty_title .submenutitle
{
	border: 0px;
}

.submenuhead hr
{
	display: none;
}

.submenucontent
{
	position: relative;
	top: 0px;
	padding: 5px 5px 0 10px;
	border: none;
	margin: 0px;
	_width:145px;
	_overflow:visible;
}

.empty_title .submenucontent
{
	padding-top: 0px;
}

.submenuitem, .submenuitemactive
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 11px;
	line-height:15px;
	padding: 3px 0px;
	display: block;
	clear: both;
	min-height: 1.3em;
	vertical-align: middle;
}

.submenuitem a, .submenuitem a:active, .submenuitem a:visited, .submenuitem a:link, .submenuitemactive a, .submenuitemactive a:active, .submenuitemactive a:visited, .submenuitemactive a:link
{
	text-align: left;
	text-decoration: none;
	background: transparent;
	min-height: 1.3em;
	position: relative;
	z-index: 1;
}

.submenuitem a, .submenuitem a:active, .submenuitem a:visited, .submenuitem a:link
{
	color: #262930;
}

.submenuitemactive a, .submenuitemactive a:active, .submenuitemactive a:visited, .submenuitemactive a:link
{
	color:  #FFFFFF; 
}

.submenuitem.submenuitemactive, .submenuitemactive
{
	color: #FFFFFF;
	background: #386891;
	margin: 0px -10px 0px -15px;
	padding: 3px 0px 3px 15px;
}

.submenuitem a:hover
{
	color: #386891;
	background: transparent;
}

.submenuitemactive a:hover
{
	color: #FFFFFF !important;
	background: transparent;
}

.submenuitem img, .subunitlistitem img, .submenuitemactive img, .subunitlistitemactive img
{
	position: relative;
	width: 16px;
	margin: -1px 5px 0px 0px;
	float: left;
	vertical-align: middle;
}

.submenuitemimage
{
	float:left;
	width:20px;
	clear:both;
	overflow:hidden;
}

.submenuitemtext
{
	float:none !important;
	float:left;
}

.submenuitem.big_icon img, .subunitlistitem.big_icon img, .submenuitemactive.big_icon img, .subunitlistitemactive.big_icon img
{
	margin: 0 5px 0px 0px;
	border: 0pt none ;
	width: auto;
	height: auto;
	vertical-align: middle;
}

.submenuitem.big_icon a
{
	display: block;	
	width: 130px; 
	height: 45px !important;
	height: auto;
	margin-top: 14px;
}


#subunitlist
{
	position: relative;
	left: 10px;
	padding: 3px 0px;
	margin: 0px;
	font-size: 11px;
	clear: both;
}

.subunitlistitem
{
	vertical-align: middle;
	padding: 3px 0px;
	margin: 0;
	width: 125px;
	clear: both;
	white-space: nowrap;
	overflow: hidden;
	color: #262930;
}

.subunitlistitemactive
{
	vertical-align: middle;
	border: none;
	clear: both;
	white-space: nowrap;
	color: #FFFFFF;
	background: #386891;
	margin: 0px -10px 0px -25px;
	padding: 3px 9px 3px 25px;
	overflow: hidden;
	width: 139px;
}

.subunitlistitem a, .subunitlistitemactive a
{
	font-family: Helvetica, Arial, sans-serif;
	display: block;
	width: 150px;
}

.subunitlistitem a:active, .subunitlistitem a:visited, .subunitlistitem a:link, .subunitlistitemactive a:active, .subunitlistitemactive a:visited, .subunitlistitemactive a:link
{
	color: inherit;
}

.subunitlistitem a:hover
{
	color: #386891;
	text-decoration: none;
	background: transparent;
}

.subunitlistitemactive a:hover
{
	color: #FFFFFF !important;
	text-decoration: none;
	background: transparent;
}


/* submenu edges */


/* logout button */
#logoutbutton
{
	height: 32px;
	border: none;
	padding: 10px 0 0 0;
	margin: 0px;
	text-align: center;
}

#logoutbutton a
{
	width: 70%;
	margin: auto;
	display: block;
}


#logoutbuttonedgebottomleft
{
	display: none;
}

#logoutbuttonedgebottomright
{
	display: none;
}

#logoutbuttonedgetopleft
{
	display: none;
}

#logoutbuttonedgetopright
{
	display: none;
}

#SysUseValues
{
	width:150px;
	padding:0px 0px 10px 0px;
	position: relative;
	right: 0px;
	top: 0px;
}

#SysUseValues.zf
{
	padding:0px 0px 0px 0px;
}

#SysUseValues td
{
	font-size: 11px;
	padding: 0px 3px 0px 0px;
}
#SysUseValues img
{
	position: relative;
	left: 0px;
	top: 0px;
}

#adminmenusysusevalues .submenuhead hr
{
	display: none;
}

hr.clearfix {
	visibility: hidden;
	clear: both;
	height: 8px;
	overflow:hidden;
	padding:0;
}
.VCMenu {
	display:block;
	margin:0;
}

.VCMenu li a {
	height: auto;
	vertical-align: bottom;
}
.VCMenu li a:hover, .VCMenu li a:active
{
	color: #386891;
	background: transparent;
}
.VCMenu li a img
{
	position: relative;
	float: left;
	display: block;
	clear: both;
	width: 16px;
	height: 16px;
	float: left;
	margin: 0 5px 0 0;
	overflow: hidden;
}

.VCMenu .VCLink, .VCMenu .VCIconLink
{
	padding-top: 3px;
	padding-bottom: 3px;
	display: block;
}

li .VCMenu.submenu
{
	padding-bottom: 20px;
}

.VCMenu .submenu
{
	display: block;
	clear: both;
	width: 163px;
}
.VCMenu .submenu.empty_title
{
	margin-bottom: 10px;
	padding-bottom: 0px;
}

.submenuitem a img, .submenuitemactive a img, .subunitlistitem a img, .subunitlistitem a img
{
	border: 0;
}

/* general submenu properties in left menu */

.submenu hr
{
	display: none;
}
.submit.right
{
	position: absolute;
	right: 10px;
}
.prev
{
	margin-right: 800px;
}

.newcontentavailable
{
	width: 55px !important;
	text-align: left !important;
	background-position: 45px 0px!important;
	background-image: url(./../../../images/ui/new-content.png) !important;
	background-repeat: no-repeat;
}
#loginheadwrapper
{
	height: 75px;
	padding-top: 10px;
	vertical-align: middle;
	background-color: #DADEDF;
	color: #262930;
}

#loginheadborder
{
	display: none;
}

#loginhead
{
	height: 80px;
	border: none;
	text-align: center;
	font-size: 1em;
	font-weight: bolder;
}

#loginheadcenter {
	height: 80px;
	display: block;
	float: none;
	margin-left:220px;
	margin-right:220px;
}
#loginheadend {
	height: 80px;
	display: block;
	margin-left:-220px;
    margin-top: -80px;
	width: 220px;
	position: absolute;
	right: 10px;
}
#loginheadstart {
	height: 80px;
	display: block;
	float: left;
	margin-right: -220px;
	width: 220px;
}

#loginheadleft
{
	padding: 0px;
	margin: 0px;
	border: none;
	height: 75px;
}

.logo
{
	width: 150px;
	height: 42px;
	margin: -12px -7px;
    padding: 15px 11px;
	background-color: #DADEDF;
}

#maindisplay
{
	height: 100%;
	text-align: center;
}

#headline
{
	height: 20px;
	padding: 0px;
	padding-top: 26px;
	width: 100%;
}

#headline span
{
	font-size: 1.2em;
}

#header /*This is required for PSE plugins < v6.0*/
{
	height: 20px !important;
	padding: 0px !important;
	padding-top: 26px !important;
	width: 100% !important;
	margin: 0px !important;
}



#logForm td.labelcontainer, #logForm td.inputcontainer
{
	padding: 0 0 5px 0;
}

#logForm td.labelcontainer
{
	padding-top: 2px;
	padding-left: 6px;
	padding-right: 4px;
	color: #262930;
	font-size: 0.8em;
}

#logForm tr.headlinerow td
{
	height: 80px;
	vertical-align: top;
}

#logForm .headlinewrapper
{
	margin-left: 0px;
	margin-top: 20px;
	margin-right: 0px;
	padding-bottom: 7px;
	text-align: center;
}
#logForm .headlinewrapper img
{
	margin: 0 auto;
}

#logForm .submitwrapper
{
	border: none;
	padding: 0px;
	margin: 0;
	padding-left: 0px;
	color: #262930;
	font-weight: bold;
	font-size: 1em;
	overflow: hidden;
	text-align: center;
}

#logForm .submitwrapper input
{
	border: 0;
	width: 88px;
	height: 24px;
	margin: 8px 0 0 0;
	text-align: center;
	color: #262930
}

#logForm input#ada1, #logForm input#ada2, #logForm input#sEnteredString
{
	background: transparent;
	border: none;
	padding: 0;
	color: #262930;
	font-weight: normal;
	font-size: 12px;
	margin-top: 8px;
	margin-left: 5px;
	width: 100px !important;
	text-indent: 5px;
}

.loginformcontainertitlerow
{
	height: 58px;
	width: 600px;
	background-color: #DADEDF;
	color: #262930;
	padding: 7px;
}

.loginformcontainertitlerow .loginheadlogo
{
	margin-top: 5px;
	float: left;
}

.loginformcontainertitlerow .loginheadcompanylogo
{
	background-color: #DADEDF;
    float: right;
    margin-right: -7px;
    margin-top: -7px;
    padding: 14px 14px 13px 14px;
}

.loginformcontainer {
	height: 265px;
	width: 600px;
	background-color: #DFE3E4;
	padding: 7px;
}

.loginformcontainer .loginformhead {
	color: #262930;
	float: left;
	width: 283px;
	height: 33px;
	margin-left: 5px;
	font-size: 2em;
	padding: 5px 5px;
	vertical-align: middle;
	border-bottom: 1px solid grey;
}

.loginformcontainer .loginformtext {
	color: #262930;
	float: left;
	width: 283px;
	height: 43px;
	margin-top: 5px;
	margin-left: 5px;
	font-weight: bold;
	padding: 5px 5px;
	vertical-align: middle;
	overflow:hidden;
}

.loginformcontainer .versioncontainer {
	color: #999999;
	float: left;
	width: 283px;
	height: 13px;
	margin-top: 5px;
	margin-left: 5px;
	font-weight: bold;
	padding: 5px 5px;
	vertical-align: middle;
	overflow:hidden;
	text-align: right;
	font-size: 0.8em;
}

.loginformcontainer .emotionalimagecontainer
{
	float: left;
	border: none;
	padding: 5px;
	margin: 0px;
	height: 250px;
	width: 291px;
	overflow: hidden;
}

.loginformcontainer .emotionalimagecontainer img
{
	height: 252px;
	width: 291px;
	overflow: hidden;
}

.logForm
{
	color: #262930;
	float: left;
	height: 120px;
	margin-top: 5px;
	margin-left: 5px;
	padding: 5px 5px;
	vertical-align: middle;
	overflow:hidden;
	width: 250px;
}

.logForm label
{
	display: inline-block;
	width: 100px;
	text-align: left;
	float: left;
	line-height: 26px;
}

.logForm input[type="text"],
.logForm input[type="password"]
{
	display: inline-block;
	width: 150px;
	text-align: left;
	float: left;
	line-height: 16px;
	margin-top: 5px;
/* 	 Hack for FF 23  */
	-moz-box-sizing: border-box;
}

.logForm input[type="submit"]
{
	float:right;
	margin-top: 10px;
}

#logForm
{
	display: block;
	float: left;
	padding: 0;
	margin: 1px 0 0 15px;
}

#logForm
{
	padding: 0;
	border-collapse: collapse;
	
}

#logForm tr.versionrow
{
	height: 50px;
}

#logForm tr.versionrow td
{
	vertical-align: top;
}

#logForm .versioncontainer
{
	height: 39px;
	margin-left: 0px;
	padding-top: 5px;
	text-align: center;
	color:#262930;
}


#logForm center, #captchaForm center, #disabledJSForm center
{
	text-align: right;
}

#logForm br, #captchaForm br, #disabledJSForm br
{
	display: none;
}


#logForm td, #captchaForm td, #disabledJSForm td
{
	padding: 0px;
	margin: 0px;
}

form#disabledJSForm table
{
	margin-top: 62px;
}

form#captchaForm table
{
	margin-top: 28px;
}

input:focus {
  outline-width:0;
}
body#votum
{
}

.maintable
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 747px;
}

.formbody
{
	width: 737px;
	height: 100%;
	margin: 5px;
	padding-bottom: 20px;
	border-collapse: collapse;
}

#tdmainrightindexstud
{
	border: none;
	padding: 7px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #EDF0F0;
	vertical-align: middle;
}

#votumhead
{
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	background-image: url(./../../../images/ui/hradminheadmenu.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 67px;
	overflow: hidden;
	border: none;
}

#votumhead .logo
{
	position: relative;
	top: 7px;
	left: 5px;
	width: 150px;
	height: 42px;
	border: none;
	float: left;	
}

#surveyheadercontainer
{
	background: #B0B3B1;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	color: #FFFFFF;
	font: normal bold 12px Arial, Helvetica, sans-serif;
	height: 52px;
	width: 747px;
}

.survey_header
{
	margin: 5px;
	width: 100%;
}

.survey_header_organization
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}
.survey_header_subunit
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}
.survey_header_lecturer
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}
.survey_header_survey
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}

/* Configures the width of the question columns / the sum of columnwidth must result 100% */
.cellwidth_description
{
	width: 40%;
	height: 0px;
}

.cellwidth_left
{
	width: 12%;
	height: 0px;
}

.cellwidth_middle
{
	width: 24%;
	height: 0px;
}

.cellwidth_right
{
	width: 12%;
	height: 0px;
}

.cellwidth_abstention
{
	width: 12%;
	height: 0px;
}

#chapterlinks
{
	margin: 0px;
	width: 100%;
}

.questionseparator
{
	height: 10px;
}

.questionseparator hr
{
	display: none;
}

.chapter_title
{
	border: none;
	border-bottom: 2px solid #386891;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1em;
	background: #B0B3B1;
}

#formbodycontainer
{
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
	border: none;
	font: normal bold 12px Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

#navtable
{
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-collapse: collapse;
}

.multiplechoicequestion_input_table
{
	width: 100%;
	border: none;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.multiplechoicequestion_input
{
	border: none;
	border-bottom: solid 1px #dddddd;
	width: 5%;
}

.multiplechoicequestion
{
	padding: 0px;
	margin: 0px;
}

.multiplechoicequestion_inputdescription
{
	text-align: left;
	border: none;
	border-bottom: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	width: 45%;
}

.scaledquestion_left,
.scaledquestion_right,
.scaledquestion_input,
.scaledquestion_abstention,
.matrixquestion_input,
.singlechoicequestion_input,
.singlechoicequestion_dropdownstyle_input,
.gradequestion_input,
.multiplechoicequestion_input_table,
.openquestion_input,
.scaledquestion_spacer
{
	background: #eeeeee;
}

.scaledquestion_pole_def,
.scaledquestion_pole_def_ext_abstention,
.scaledquestion_pole_def_ext_bg,
.scaledquestion_description,
.matrixquestion_description,
.singlechoicequestion_description,
.singlechoicequestion_dropdownstyle_description,
.gradequestion_description,
.multiplechoicequestion_description,
.openquestion_description
{
	background: #dddddd;
	border: solid 1px #dddddd;
}

.scaledquestion_pole_def,
.scaledquestion_pole_def_ext,
.scaledquestion_pole_def_ext_abstention
{
	font-weight: bold;
}

.singlechoicequestion_input
{
	margin: 0px;
	padding: 0px;
}

.singlechoicequestion_input_table
{
	width: 100%;
	border-collapse: collapse;
}

.singlechoicequestion_option
{
	width: 22px;
	border: solid 1px #dddddd;
	border-top: none;
	border-right: none;
}

.singlechoicequestion_inputdescription
{
	border: solid 1px #dddddd;
	border-top: none;
	border-left: none;
}

.singlechoicequestion_dropdownstyle_input,
.matrixquestion_input,
.gradequestion_input,
.multiplechoicequestion_input_table,
.openquestion_input
{
	border: solid 1px #dddddd;
	border-top: none;
}

.scaledquestion_left,
.scaledquestion_input,
.scaledquestion_right
{
	border: none;
	border-bottom: solid 1px #dddddd;
}

.scaledquestion_abstention
{
	border: none;
	border-bottom: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
}

.scaledquestion_spacer
{
	border: none;
	border-bottom: solid 1px #dddddd;
	border-left: solid 1px #dddddd;
}

.matrixquestion_input label
{
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#printversionbuttontable
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.description_error
{
	color: red;
}body#votum
{
}

.maintable
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 747px;
}

.formbody
{
	width: 737px;
	height: 100%;
	margin: 5px;
	padding-bottom: 20px;
	border-collapse: collapse;
}

#tdmainrightindexstud
{
	border: none;
	padding: 7px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background-color: #EDF0F0;
	vertical-align: middle;
}

#votumhead
{
	position: relative;
	top: 0px;
	left: 0px;
	padding: 0px;
	margin: 0px;
	background-image: url(./../../../images/ui/hradminheadmenu.png);
	background-repeat: repeat-x;
	background-position: top;
	height: 67px;
	overflow: hidden;
	border: none;
}

#votumhead .logo
{
	position: relative;
	top: 7px;
	left: 5px;
	width: 150px;
	height: 42px;
	border: none;
	float: left;	
}

#surveyheadercontainer
{
	background: #B0B3B1;
	padding: 0px;
	margin: 0px;
	margin-bottom: 10px;
	color: #FFFFFF;
	font: normal bold 12px Arial, Helvetica, sans-serif;
	height: 52px;
	width: 747px;
}

.survey_header
{
	margin: 5px;
	width: 100%;
}

.survey_header_organization
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}
.survey_header_subunit
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}
.survey_header_lecturer
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}
.survey_header_survey
{
	color: #FFFFFF;
	font-weight: bold;
	font-size: 0.8em;
	width: 25%;
	vertical-align: top;
}

/* Configures the width of the question columns / the sum of columnwidth must result 100% */
.cellwidth_description
{
	width: 40%;
	height: 0px;
}

.cellwidth_left
{
	width: 12%;
	height: 0px;
}

.cellwidth_middle
{
	width: 24%;
	height: 0px;
}

.cellwidth_right
{
	width: 12%;
	height: 0px;
}

.cellwidth_abstention
{
	width: 12%;
	height: 0px;
}

#chapterlinks
{
	margin: 0px;
	width: 100%;
}

.questionseparator
{
	height: 10px;
}

.questionseparator hr
{
	display: none;
}

.chapter_title
{
	border: none;
	border-bottom: 2px solid #386891;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1em;
	background: #B0B3B1;
}

#formbodycontainer
{
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
	border: none;
	font: normal bold 12px Arial, Helvetica, sans-serif;
	border-collapse: collapse;
}

#navtable
{
	padding: 0px;
	margin: 0px;
	margin-top: 10px;
	border-collapse: collapse;
}

.multiplechoicequestion_input_table
{
	width: 100%;
	border: none;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.multiplechoicequestion_input
{
	border: none;
	border-bottom: solid 1px #dddddd;
	width: 5%;
}

.multiplechoicequestion
{
	padding: 0px;
	margin: 0px;
}

.multiplechoicequestion_inputdescription
{
	text-align: left;
	border: none;
	border-bottom: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	width: 45%;
}

.scaledquestion_left,
.scaledquestion_right,
.scaledquestion_input,
.scaledquestion_abstention,
.matrixquestion_input,
.singlechoicequestion_input,
.singlechoicequestion_dropdownstyle_input,
.gradequestion_input,
.multiplechoicequestion_input_table,
.openquestion_input,
.scaledquestion_spacer
{
	background: #eeeeee;
}

.scaledquestion_pole_def,
.scaledquestion_pole_def_ext_abstention,
.scaledquestion_pole_def_ext_bg,
.scaledquestion_description,
.matrixquestion_description,
.singlechoicequestion_description,
.singlechoicequestion_dropdownstyle_description,
.gradequestion_description,
.multiplechoicequestion_description,
.openquestion_description
{
	background: #dddddd;
	border: solid 1px #dddddd;
}

.scaledquestion_pole_def,
.scaledquestion_pole_def_ext,
.scaledquestion_pole_def_ext_abstention
{
	font-weight: bold;
}

.singlechoicequestion_input
{
	margin: 0px;
	padding: 0px;
}

.singlechoicequestion_input_table
{
	width: 100%;
	border-collapse: collapse;
}

.singlechoicequestion_option
{
	width: 22px;
	border: solid 1px #dddddd;
	border-top: none;
	border-right: none;
}

.singlechoicequestion_inputdescription
{
	border: solid 1px #dddddd;
	border-top: none;
	border-left: none;
}

.singlechoicequestion_dropdownstyle_input,
.matrixquestion_input,
.gradequestion_input,
.multiplechoicequestion_input_table,
.openquestion_input
{
	border: solid 1px #dddddd;
	border-top: none;
}

.scaledquestion_left,
.scaledquestion_input,
.scaledquestion_right
{
	border: none;
	border-bottom: solid 1px #dddddd;
}

.scaledquestion_abstention
{
	border: none;
	border-bottom: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
}

.scaledquestion_spacer
{
	border: none;
	border-bottom: solid 1px #dddddd;
	border-left: solid 1px #dddddd;
}

.matrixquestion_input label
{
	position: absolute;
	left: 0px;
	top: -500px;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

#printversionbuttontable
{
	width: 100%;
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
}

.description_error
{
	color: red;
}/* TabContainer */
.tundra .dijitTab {
    background: #bdc1c2 !important;
	background-image: none !important;
    border: 1px solid #ccc;
    line-height: normal;
    margin-right: 4px;
    padding: 2px 8px 2px 9px;
	color: #262930;
}

.tundra .dijitTabChecked
{
	background-color: #DFE3E4 !important;
	color: #262930;
    background-image: none;
    border-color: #ccc;
	font-weight: bold;
}

.tundra .dijitTabContainerTop-tabs .dijitTabChecked {
	border-bottom-color: #DFE3E4 !important;
}